.main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
 margin-right: 520px;
 position: relative;  
 flex-direction: column;
}



.video {
  width: 85%;
  aspect-ratio: 16 / 9;
  /* background-color: lightblue; */
  border-radius: 25px;
  margin: 20px;
}
.rounded{
  border-radius: 25px;
}
.sc-video{
  display: flex;
  flex-direction: column;
  
}
.bar{
  width: 1px;
  height: auto;
  background-color: black;
  /* margin-right:20px ; */
}

.side-content{
  position: fixed;
  right: 0;
  margin: 20px;
  overflow-y: scroll; 
  height: 80%;
  width: 480px;
  /* background-color: rgb(245, 245, 245); */
  border: 1px solid grey;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}
.side-content::-webkit-scrollbar{
  display: none;
}

.videoTitle{
  font-size: 1.8rem;
  font-weight: 500;
}

.videoDetail{
  margin: 50px 80px 50px 80px;
  text-align: justify;
}