.main-flex {
  display: flex;
  justify-content: center;
 margin-right: 400px;
 position: relative;  
}



.video {
  width: 80%;
  aspect-ratio: 16 / 9;
  /* background-color: lightblue; */
  border-radius: 20px;
  margin: 20px;
}
.rounded{
  border-radius: 20px;
}
.sc-video{
  display: flex;
  flex-direction: column;
  
}
.bar{
  width: 1px;
  height: auto;
  background-color: black;
  /* margin-right:20px ; */
}

.side-content{
  position: fixed;
  right: 0;
  margin: 20px;
  overflow-y: scroll; 
  height: 70%;
  width: 480px;
  /* background-color: rgb(245, 245, 245); */
  border: 1px solid grey;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}
.side-content::-webkit-scrollbar{
  display: none;
}